.Select {
 background-color: rgba(15, 17, 26, 0.8);
  color: #E3B34C;
  font-size: clamp(1rem, 2vw, 2rem);
  width: 100%;
   height: clamp(3rem, 1vw, 6rem);
   border-radius: 4px;
}

.SelectContaiter {
 display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.Label {
  color: #8B7355;
  font-size: clamp(1rem, 1vh + 1rem, 2.5rem);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}