.container {
  min-height: 100%;
  background-color: #13151f;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
}

.BetSettings {
  display: flex;
  flex-direction: column;
  width: 90%;
}


.BalanceWrapper {
 margin-top: auto;
 margin-bottom: 4rem;
 margin-right: auto;
 margin-left: 3rem;
}

.SliderWrapper {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.GameCountWrapper {
  width: 100%;
  margin-top: 1rem;
}

.disabled {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    order: 1;
    display: flex;
    width: 100%;
    height: 70vh;
   
  }
  .BalanceWrapper {
    margin: 0;
  }
}
