.wrapper {
  width: 100%;
  padding: 4px;
  border-radius: 12px;
  box-sizing: border-box;
}

.container {
  display: flex;
  position: relative;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  
}

.modeBtn {
  flex: 1;
  background: none;
  border: none;
  color: #e68209;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 2; 
  outline: none;
}

.modeBtn.active {
  color: #e3b34c;
}


.glider {
  position: absolute;
  height: 100%;
  width: 50%;
  background: rgba(146, 100, 35, 0.354); 
  border-radius: 40px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-out; 
  z-index: 1;
}

.gliderAuto {
  transform: translateX(100%);
}


.modeBtn:focus {
  outline: none;
}

.wrapperDisabled {
    opacity: 0.6; 
    cursor: not-allowed;
}

.modeBtn:disabled {
    cursor: not-allowed;
    pointer-events: none; 
}


.wrapperDisabled .glider {
    background: #4a5568; 
}