.Input {
 
  background-color: rgba(15, 17, 26, 0.8);
  color: #E3B34C;
  font-size: clamp(1rem, 1vh + 1rem, 2rem);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #4A3C28;
  border-radius: 4px;
  height: clamp(2.5rem, 1vh + 3rem, 5rem);
}

.MyInputContainer {
   position: relative;
   box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.Label {
  color: #8B7355;
   font-size: clamp(1rem, 1vh + 1rem, 2.5rem);
}

.inputSetting {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.betScale {
  background:  linear-gradient(180deg, rgba(74, 60, 40, 0.4) 0%, rgba(45, 36, 24, 0.4) 100%);
  padding: 4px 8px;
  color:#C5A059;
  width: 20%;
  text-align: center;
  font-size: clamp(1rem, 1vh + 1rem, 2.5rem);
  cursor: pointer;
  
}

.betScale:hover {
  cursor: pointer;
  background: rgba(197, 160, 89, 0.2)
}

.SVG {
  box-sizing: border-box;
  position: absolute;
  right: 37%;
  top: 50%;
  padding: 0;
  margin: 0;
  width: 10%;
  z-index: 100;
}

