
.valueWrapper {
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  filter: drop-shadow(0 0 5px rgba(227, 179, 76, 0.5));
  align-self: center;
}

.integer {
  color: #E3B34C;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 900;
  font-family: 'Montserrat', sans-serif; /* Или любой жирный шрифт */
  text-shadow: 0 0 10px rgba(227, 179, 76, 0.3);
}

.fraction {
  color: rgba(227, 179, 76, 0.6);
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 700;
}

.currency {
  color: #8B7355;
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 600;
  margin-left: 6px;
}


.glowLine {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #E3B34C, transparent);
  box-shadow: 0 0 8px #E3B34C;
}



@media (max-width: 768px) {
  .balanceContainer {
    padding: 6px 12px;
    min-width: 140px;
  }
  .integer { font-size: 1.2rem; }
  .fraction { font-size: 0.8rem; }
}


